@import "tailwindcss";

@theme {
  --color-dark-bg: #050505;
  --color-neon-blue: #00f0ff;
  --color-neon-glow: rgba(0, 240, 255, 0.4);
}

@layer base {
  body {
    background-color: var(--color-dark-bg);
    color: #e5e5e5;
  }

  ::selection {
    background-color: var(--color-neon-blue);
    color: #000;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
